*{
    margin:0 auto;
    box-sizing:border-box;
}

/*titolo*/
h1{
    padding:15px;
    margin-top:55px;
    margin-bottom:15px;
    font-size:50px;
    color:white;
    text-align:center;
}

/*body*/
body{
    background-color:#464655;
    font-family: "Helvetica", sans-serif;
    color:#464655;
    font-size:20px;
}

/*container principale*/
#container{
    text-align:center;
    background-color:#D5CFE1;
    width:80%;
    padding:40px;
}

/*elenco*/
li{
    margin-top:20px;
}

/*pulsante*/
button {
    background-color:#464655;
    border:none;
    color:white;
    cursor:pointer;
    margin-top:30px;
    padding:20px;
    font-size:25px;
    padding:30px;
    width:80%;
}

/*bordi container principale e pulsante*/
#container, button{
    border-radius:20px;
}
